#### Q1. Write a program find get total score by Indian cricket team. (HINT- sum of all the values in a dictionary)

In [1]:
#### Q1. Write a program find get total score by Indian cricket team. (HINT- sum of all the values in a dictionary)

batter_n_scores = {"virat": 100, "rohit": 200, "hardik": 50, "surya": 0}
total_score = sum(batter_n_scores.values())
print(total_score)

350

#### Q2: Write a program to merge batters and ballers. Calculate total score of team.

In [2]:
#### Q2: Write a program to merge batters and ballers. Calculate total score of team.

batters = {"virat": 100, "rohit": 200, "hardik": 50, "surya": 0}
ballers = {"chahal": 10, "arshdeep": 5, "bumrah": 1}
entire_team = batters
entire_team.update(ballers)
print(entire_team)
total_score = sum(entire_team.values())
print(total_score)

{'virat': 100, 'rohit': 200, 'hardik': 50, 'surya': 0, 'chahal': 10, 'arshdeep': 5, 'bumrah': 1}
366

#### Q3:Write a program to calculate grade of players based on their collective performance in a 3 different cricket series. Remove players who have scored less than 50.

In [3]:
#### Q3:Write a program to calculate grade of players based on their collective performance in a 3 different cricket series. Remove players who have scored less than 50.
'''
- Rules:
    - A grade : one who scores more than 300 runs
    - B grade : one who scores between 200 and 300 runs
    - C grade : one who scores between 100 and 200 runs
    - D grade : one who scores less than 100
    
'''
performances = {
                "asia-cup": {
                            "virat": 100,
                            "rohit": 200,
                            "hardik": 50,
                            "surya": 0,
                            "chahal": 10,
                            "arshdeep": 5,
                            "bumrah": 1
                            },
                "aus-series": {
                            "virat": 5,
                            "rohit": 39,
                            "hardik": 47,
                            "surya": 128,
                            "chahal": 0,
                            "arshdeep": 90,
                            "bumrah": 4
                            },
                "world-cup": {
                            "virat": 95,
                            "rohit": 339,
                            "hardik": 137,
                            "surya": 196,
                            "chahal": 91,
                            "arshdeep": 89,
                            "bumrah": 40
                            }
                }

# wrong syntax => for cup, info in performances["asia-cup"]:
players = []
cumulative_performance = {}
cup_count = 0
for cup, info in performances.items():
    cup_count += 1
    if len(cumulative_performance) == 0:
        cumulative_performance.update(info)
    else:
        for player, score in info.items():
            cumulative_performance[player] += score
print(cumulative_performance)

for player, score in cumulative_performance.items():
    cumulative_performance[player] = score
    if score > 300:
        cumulative_performance[player] = 'A'
    elif score >= 200:
        cumulative_performance[player] = 'B'
    elif score >= 100:
        cumulative_performance[player] = 'C'
    else:
        cumulative_performance[player] = 'D'
    
    # players.append(player)
print(cumulative_performance)
# cumulative_performance = dict.fromkeys(performances.get["asia-cup"].keys(), 0)

{'virat': 200, 'rohit': 578, 'hardik': 234, 'surya': 324, 'chahal': 101, 'arshdeep': 184, 'bumrah': 45}
{'virat': 'B', 'rohit': 'A', 'hardik': 'B', 'surya': 'A', 'chahal': 'C', 'arshdeep': 'C', 'bumrah': 'D'}

#### Q4: Create a game of sticks as discussed in the class and protect it with a secret password. Set max attempts to enter password to 3. Number of sticks should be 26. Other rules will be same as discussed in the class.

#### Q5: Produce a Fibonacci series of 20 elements using while loop.

In [4]:
#### Q5: Produce a Fibonacci series of 20 elements using while loop.
def fibonacci_generator(n):
    a = 0
    b = 1
    fib_seq = []
    i = 1
    while(i <= n):
        fib_seq.append(a)
        a,b = b,a+b
        i+=1
    return fib_seq

print(fibonacci_generator(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

#### Q6: Produce a Fibonacci series of 15 elements using for loop.

In [5]:
#### Q6: Produce a Fibonacci series of 15 elements using for loop.
def fibonacci_generator(n):
    a = 0
    b = 1
    fib_seq = []
    for i in range (1, n+1):
        fib_seq.append(a)
        a,b = b,a+b
        i+=1
    return fib_seq

print(fibonacci_generator(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

#### Q7: Write a program to check if number is prime or not.

In [6]:
#### Q7: Write a program to check if number is prime or not.
import math


n = 13

is_prime = True
for i in range(2, math.ceil(math.sqrt(n)+1)):
    if(n%i==0):
        is_prime = False
        break

if(is_prime):
    print(f"{n} is prime")
else:
    print(f"{n} is NOT prime")

13 is prime

#### Q8: Write a program to find cube of first 12 natural numbers using for loop.

In [7]:
#### Q8: Write a program to find cube of first 12 natural numbers using for loop.
n = 20
pow = 3
cubes =[]
for i in range(1, n+1):
    cubes.append(i**pow)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

#### Q9: Write a program to create a list of cube of first 12 natural numbers using list comprehension.

In [8]:
#### Q9: Write a program to create a list of cube of first 12 natural numbers using list comprehension.
n = 12
pow = 3

# list comprehension
# newlist = [expression for item in iterable if condition == True]
cubes = [i**pow for i in range(1, n+1)]

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728]

#### Q10: Write a program to calculate count of characters in a given string. Show the count in dict representation such as

In [9]:
#### Q10: Write a program to calculate count of characters in a given string. Show the count in dict representation such as 
str = "Happy new year"
char_count = {}

for ch in str:
    char_count.update({ch: char_count.get(ch, 0) + 1})
print(char_count)

{'H': 1, 'a': 2, 'p': 2, 'y': 2, ' ': 2, 'n': 1, 'e': 2, 'w': 1, 'r': 1}

#### Q11: Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [10]:
#### Q11: Use for loop to iterate from 0 to 100 and print the sum of all numbers.
init  = 0
n = 100
num_sum = 0
for i in range(init, n+1):
    num_sum+=i
print(num_sum)

5050

#### Q12: Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [11]:
#### Q12: Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
init  = 0
n = 100
even_sum = odd_sum = 0
for i in range(init, n+1):
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i
print(f"even sum: {even_sum}")
print(f"odd sum: {odd_sum}")

even sum: 2550
odd sum: 2500

#### Q13: Print the name of employees who have python as skill in the form first_name last_name

In [12]:
#### Q13: Print the name of employees who have python as skill in the form first_name last_name

employees=[
            {
            'first_name': 'Asabeneh',
            'last_name': 'Yetayeh',
            'age': 23,
            'country': 'India',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'golang',
                        'Node'
                      ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Rahul',
            'last_name': 'Dravid',
            'age': 56,
            'country': 'Pakistan',
            'is_married': False,
            'skills': [
                        'C#',
                        'React',
                        'Angular',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Virat',
            'last_name': 'Kohli',
            'age': 67,
            'country': 'Finland',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'React',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Hardik',
            'last_name': 'Pandya',
            'age': 43,
            'country': 'USA',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'Azure',
                        'Snowflake',
                        'MongoDB'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Mohammad',
            'last_name': 'Shami',
            'age': 31,
            'country': 'England',
            'is_married': False,
            'skills': [
                        'AWS',
                        'GCP',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            }
        ]
for employee in employees:
    # a = list(map(lambda x: x.lower(), employee.get("skills",[])))
    # print(a)

    if "python" in list(map(lambda x: x.lower(), employee.get("skills",[]))):
        print(f'{employee["first_name"]} {employee["last_name"]}')

Rahul Dravid
Virat Kohli
Mohammad Shami

#### Q14: Fire (remove) the employees who do not have python as skill and produce new dict,Print a dict output such as - { : ,....}

In [13]:
#### Q14: Fire (remove) the employees who do not have python as skill and produce new dict,Print a dict output such as - { : ,....}
import json
employees=[
            {
            'first_name': 'Asabeneh',
            'last_name': 'Yetayeh',
            'age': 23,
            'country': 'India',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'golang',
                        'Node'
                      ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Rahul',
            'last_name': 'Dravid',
            'age': 56,
            'country': 'Pakistan',
            'is_married': False,
            'skills': [
                        'C#',
                        'React',
                        'Angular',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Virat',
            'last_name': 'Kohli',
            'age': 67,
            'country': 'Finland',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'React',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Hardik',
            'last_name': 'Pandya',
            'age': 43,
            'country': 'USA',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'Azure',
                        'Snowflake',
                        'MongoDB'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Mohammad',
            'last_name': 'Shami',
            'age': 31,
            'country': 'England',
            'is_married': False,
            'skills': [
                        'AWS',
                        'GCP',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            }
        ]
print(len(employees))
python_developers = []

for employee in employees:
    # a = list(map(lambda x: x.lower(), employee.get("skills",[])))
    # print(a)
    if "python" in list(map(lambda x: x.lower(), employee.get("skills",[]))):
        python_developers.append(employee)
print(json.dumps(
    python_developers, 
    indent=4
))

5
[
    {
        "first_name": "Rahul",
        "last_name": "Dravid",
        "age": 56,
        "country": "Pakistan",
        "is_married": false,
        "skills": [
            "C#",
            "React",
            "Angular",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Virat",
        "last_name": "Kohli",
        "age": 67,
        "country": "Finland",
        "is_married": true,
        "skills": [
            "JavaScript",
            "React",
            "Node",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Mohammad",
        "last_name": "Shami",
        "age": 31,
        "country": "England",
        "is_married": false,
        "skills": [
            "AWS",
            "GCP",
            "Node",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    }
]

#### Q16: Fire (remove) all the employees who are above 30 year age and unmarried.

In [14]:
#### Q16: Fire (remove) all the employees who are above 30 year age and unmarried. 
import json
employees=[
            {
            'first_name': 'Asabeneh',
            'last_name': 'Yetayeh',
            'age': 23,
            'country': 'India',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'golang',
                        'Node'
                      ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Rahul',
            'last_name': 'Dravid',
            'age': 56,
            'country': 'Pakistan',
            'is_married': False,
            'skills': [
                        'C#',
                        'React',
                        'Angular',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Virat',
            'last_name': 'Kohli',
            'age': 67,
            'country': 'Finland',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'React',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Hardik',
            'last_name': 'Pandya',
            'age': 43,
            'country': 'USA',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'Azure',
                        'Snowflake',
                        'MongoDB'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Mohammad',
            'last_name': 'Shami',
            'age': 31,
            'country': 'England',
            'is_married': False,
            'skills': [
                        'AWS',
                        'GCP',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            }
        ]
for employee in employees:
    if employee.get("age", 30)>30 and not employee.get("is_married",True):
        print(employee.get("first_name", "name"))
        employees.remove(employee)
print(json.dumps(
    employees,
    indent=4
    ))
print(len(employees))

Rahul
Mohammad
[
    {
        "first_name": "Asabeneh",
        "last_name": "Yetayeh",
        "age": 23,
        "country": "India",
        "is_married": true,
        "skills": [
            "JavaScript",
            "golang",
            "Node"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Virat",
        "last_name": "Kohli",
        "age": 67,
        "country": "Finland",
        "is_married": true,
        "skills": [
            "JavaScript",
            "React",
            "Node",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Hardik",
        "last_name": "Pandya",
        "age": 43,
        "country": "USA",
        "is_married": true,
        "skills": [
            "JavaScript",
            "Azure",
            "Snowflake",
            "MongoDB"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    }
]
3

#### Q17: Add a new key for each employee called salary based on following rules
- if skill is Python, salary is 250000 USD
- If skill is Python and age is less than 40 then 250000 USD
- If skill is Python and unmarried then 200000 USD

In [15]:
#### Q17: Add a new key for each employee called salary based on following rules
'''
- if skill is Python, salary is 250000 USD
- If skill is Python and age is less than 40 then 250000 USD
- If skill is Python and unmarried then 200000 USD
'''
import json
employees=[
            {
            'first_name': 'Asabeneh',
            'last_name': 'Yetayeh',
            'age': 23,
            'country': 'India',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'golang',
                        'Node'
                      ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Rahul',
            'last_name': 'Dravid',
            'age': 56,
            'country': 'Pakistan',
            'is_married': False,
            'skills': [
                        'C#',
                        'React',
                        'Angular',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Virat',
            'last_name': 'Kohli',
            'age': 67,
            'country': 'Finland',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'React',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Hardik',
            'last_name': 'Pandya',
            'age': 43,
            'country': 'USA',
            'is_married': True,
            'skills': [
                        'JavaScript',
                        'Azure',
                        'Snowflake',
                        'MongoDB'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            },
            {
            'first_name': 'Mohammad',
            'last_name': 'Shami',
            'age': 31,
            'country': 'England',
            'is_married': False,
            'skills': [
                        'AWS',
                        'GCP',
                        'Node',
                        'MongoDB',
                        'Python'
                        ],
            'address': {
                        'street': 'Space street',
                        'zipcode': '02210'
                        }
            }
        ]
for employee in employees:
    if "python" in list(map(lambda x: x.casefold(), employee.get("skills",[]))):
        employee["salary"] = 250000
        if not employee.get("is_married", True):
            employee["salary"] = 200000
print(json.dumps(
    employees,
    indent=4
    ))

[
    {
        "first_name": "Asabeneh",
        "last_name": "Yetayeh",
        "age": 23,
        "country": "India",
        "is_married": true,
        "skills": [
            "JavaScript",
            "golang",
            "Node"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Rahul",
        "last_name": "Dravid",
        "age": 56,
        "country": "Pakistan",
        "is_married": false,
        "skills": [
            "C#",
            "React",
            "Angular",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        },
        "salary": 200000
    },
    {
        "first_name": "Virat",
        "last_name": "Kohli",
        "age": 67,
        "country": "Finland",
        "is_married": true,
        "skills": [
            "JavaScript",
            "React",
            "Node",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        },
        "salary": 250000
    },
    {
        "first_name": "Hardik",
        "last_name": "Pandya",
        "age": 43,
        "country": "USA",
        "is_married": true,
        "skills": [
            "JavaScript",
            "Azure",
            "Snowflake",
            "MongoDB"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        }
    },
    {
        "first_name": "Mohammad",
        "last_name": "Shami",
        "age": 31,
        "country": "England",
        "is_married": false,
        "skills": [
            "AWS",
            "GCP",
            "Node",
            "MongoDB",
            "Python"
        ],
        "address": {
            "street": "Space street",
            "zipcode": "02210"
        },
        "salary": 200000
    }
]

#### Q18: Create a multiplication table (arithmetic table) of 10 using for loop under while loop. Also do vice versa.

In [16]:
#### Q18: Create a multiplication table (arithmetic table) of 10 using for loop under while loop. Also do vice versa.
# using for loop under while loop

n = 10
i = 2
while(i<=n):
    for j in range(1, 11):
        print(f"{i} X {j} = {i*j}")
    print()
    i+=1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [17]:
# using while loop under for loop
n = 10
i = 2
for i in range (2,n+1):
    j = 1
    while j<11:
        print(f"{i} X {j} = {i*j}")
        j+=1
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100